@model IEnumerable<CkeckIn.Models.Questions.Thread.ThreadView>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" style="min-height: 400px;">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Темы", "Index", "Thread", null, new { title = "Открыть список тем" })
                [ @Html.ActionLink("Добавить тему", "Create")]
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-bordered">
                <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ThreadName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DisciplinedName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Questions)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.ThreadName, "Detail", "Thread", new {id = item.ThreadId}, new { title = "Открыть страницу темы" })
                                </td>
                                <td>
                                    @Html.ActionLink(item.DisciplinedName, "Detail", new { id = item.DisciplineId }, new { title = "Открыть страницу дисциплины" })
                                </td>
                                <td>
                                    @item.Questions
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

        </div>
    </div>
</div>


