@model IEnumerable<CkeckIn.Models.Questions.Discipline.DisciplineView>

@{
    ViewData["Title"] = "DisciplineView";
}


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 400px;">
            <div class="x_title">
                <h2>
                    @Html.ActionLink("Дисциплины", "Index", "Question", null, new { title = "Открыть список дисциплин" })
                    [ @Html.ActionLink("Добавить дисциплину", "Create")]
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisciplineName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThreadViews)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.DisciplineName, "Detail", new { id = item.DisciplineId }, new { title = "Открыть страницу дисциплины" })
                                </td>
                                <td>
                                    @foreach (var thread in item.ThreadViews)
                                    {
                                        @Html.ActionLink(thread.ThreadName, "Detail", "Thread", new { id = thread.ThreadId }, new { title = "Открыть страницу темы" }) @:,
                                }
                                    @Html.ActionLink("Все", "Detail", new { id = item.DisciplineId }, new { title = "Просмотреть все темы" })
                                </td>
                            </tr>
                        }
                </table>

            </div>
        </div>
    </div>
